ion-title{
    text-align: center;
}

.carImg{
    width:500px;
    height:auto;
}

// laptop view
@media only screen and (min-width: 1000px) {
    .carImg{
        width:700px;
        height:auto;
    }
    .message-avatar{
        padding-top: 150px;
    }
}

.container{
    margin-bottom: 20px;
    border-bottom: black 1px solid;
}

.add-car-btn-1{
    text-align: center;
}

.add-car-btn-2{
    position: fixed; /* or absolute */
    top: 50%;
    left: 40%;
}