<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Business
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--If there are cars, then show cars-->
  <div *ngIf="countCars!=0; else noCar">
    <!--Car Client List-->
    <ion-list *ngFor="let car of cars">
      <div class="container">
        <div class="row">
          <div class="col">
            <img class='carImg' src="http://localhost:8000/images/{{car.car_picture}}">
            {{car.car_picture}}
            <h1>{{car.model}} {{car.model_year}}</h1>
            <ul>
              <li>
                <p><b>Return Location:</b> <br>{{car.return_location}}</p>
              </li>
              <li>
                <p><b>Return Date:</b> {{car.end_date | date}}</p>
              </li>
            </ul>
          </div>
          <div class="col">
            <ion-card-content class='message-avatar'>
              <!-- ngIf: check if the car has an order on it-->
              <div *ngIf="car.Orders[0]; else elseBlock">
                <h1>Client:</h1>
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="http://localhost:8000/images/{{car.Orders[0].client_picture}}">
                  </ion-avatar>
                  <ion-label>
                    <h2>{{car.Orders[0].client_firstname}} {{car.Orders[0].client_lastname}}</h2>
                    <h3>{{car.Orders[0].client_email}}</h3>
                  </ion-label>
                </ion-item>
              </div>
              <!-- ngIf ELSE: no client-->
              <ng-template #elseBlock>
                <h1>Client:</h1>
                <ion-item>
                  <ion-label>
                    <h2>No Client</h2>
                  </ion-label>
                </ion-item>
                <!--delete button-->
                <ion-button class="remove-btn" color="danger" (click)="confirmDelete(car)">Remove (No Client)
                </ion-button>
              </ng-template>
            </ion-card-content>
          </div>
        </div>
      </div>
    </ion-list>
  </div>

  <div class='add-car-btn-1'>
    <ion-button color='dark' (click)='navToAddCar()'>Add Car</ion-button>
  </div>

  <!--If there is no car, show add car button-->
  <ng-template #noCar>
    <div class='add-car-btn-2'>
      <ion-button color='dark' (click)='navToAddCar()'>Add Car</ion-button>
    </div>
  </ng-template>

</ion-content>