ion-title{
    text-align: center;
}

.carImg{
    width:500px;
    height:auto;
}

// laptop view
@media only screen and (min-width: 1000px) {
    .carImg{
        width:700px;
        height:auto;
    }
    .message-avatar{
        padding-top: 150px;
    }
}

.container{
    margin-bottom: 20px;
    border-bottom: black 1px solid;
}

.no-order-text{
    position: fixed; /* or absolute */
    top: 50%;
    left: 5%;
}

// .reminder{
//     font-size: large;
//     font-weight: bold;
// }

// ion-progress-bar{
//     height: 10px;
//     border-radius: 5px;
// }